body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #619359;
    color: #000000;
    padding: 20px;
}

contenido {
    margin-top: 40px;
}

img {
    width: 300 px;
    height: 300 px;
}

container {
    display: flex; 
}

.columna {
    flex: 2; 
    padding: 20px;
    border-style: solid;
    display: flexbox;
    }
















