body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #619359;
    color: #000000;
    padding: 20px;
}

.container {
    display: flex; 
}

.columna {
    flex: 1; 
    padding: 20px;
}

.columnas {
    background-color: antiquewhite;
    padding: 10px 15px 10px 10px;
}











